Repository Edric-Li/gc-code: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write, pnpm --filter @gc-code/frontend exec stylelint --fix, pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write, prettier --write --ignore-unknown

.lintstagedrc.json:

{
  "apps/frontend/**/*.{js,jsx,ts,tsx}": [
    "pnpm --filter @gc-code/frontend exec eslint --fix",
    "pnpm --filter @gc-code/frontend exec prettier --write"
  ],
  "apps/frontend/**/*.{css,scss}": [
    "pnpm --filter @gc-code/frontend exec stylelint --fix",
    "pnpm --filter @gc-code/frontend exec prettier --write"
  ],
  "apps/frontend/**/*.{json,md}": ["pnpm --filter @gc-code/frontend exec prettier --write"],
  "apps/backend/**/*.{ts,js}": [
    "pnpm --filter @gc-code/backend exec eslint --fix",
    "pnpm --filter @gc-code/backend exec prettier --write"
  ],
  "apps/backend/**/*.{json,md}": ["pnpm --filter @gc-code/backend exec prettier --write"],
  "*.{json,md,yaml,yml}": ["prettier --write --ignore-unknown"]
}

style: apply ESLint auto-fixes and resolve all warnings
  apps/backend/src/modules/claude-relay/services/pricing.service.ts
  apps/backend/src/modules/claude-relay/services/session-hash.service.ts
  apps/backend/src/modules/claude-relay/services/session-storage/memory-session-storage.service.spec.ts
  apps/backend/src/modules/organizations/organization.service.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

fix: 移除 Nginx 请求体大小限制以解决 413 错误
  nginx-fullstack.conf
  nginx.conf
Due: none

chore: 更新 Nginx 配置并添加部署文件到 gitignore
  .gitignore
  nginx-fullstack.conf
  nginx.conf
Due: none

fix: 增加 Express body-parser 请求体大小限制到 50MB
  apps/backend/src/main.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

feat: 优先使用 Claude API 响应中的实际模型进行统计和计费
  apps/backend/src/modules/claude-relay/claude-relay.controller.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

feat: 实现渠道错误分级处理和自动恢复机制
  apps/backend/prisma/migrations/20231201000000_init/migration.sql
  apps/backend/prisma/migrations/20231202000000_add_channel_management/migration.sql
  apps/backend/prisma/migrations/20231203000000_add_channel_management_fixed/migration.sql
  apps/backend/prisma/migrations/20231204000000_add_api_key_request_log/migration.sql
  apps/backend/prisma/migrations/20231205000000_add_channel_priority_weight/migration.sql
  apps/backend/prisma/migrations/20231206000000_remove_channel_advanced_fields/migration.sql
  apps/backend/prisma/migrations/20250116000001_add_temp_error_channel_status/migration.sql
  apps/backend/prisma/migrations/README.md
  apps/backend/prisma/migrations/migration_lock.toml
  apps/backend/prisma/schema.prisma
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/claude-relay/claude-relay.module.ts
  apps/backend/src/modules/claude-relay/services/channel-auto-recovery.service.ts
  apps/backend/src/modules/claude-relay/services/channel-error-tracker.service.ts
  apps/backend/src/modules/claude-relay/services/claude-channel-selector.service.ts
  apps/backend/src/modules/claude-relay/services/claude-proxy.service.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write, prettier --write --ignore-unknown

feat: 支持管理员自定义 API Key 和预创建用户功能
  apps/backend/src/modules/api-keys/api-keys.controller.ts
  apps/backend/src/modules/api-keys/api-keys.service.ts
  apps/backend/src/modules/api-keys/dto/create-api-key.dto.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/users/dto/create-user.dto.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

refactor: 移除渠道分组功能，简化为渠道和供货商两种模式
  apps/backend/prisma/migrations/remove_channel_groups.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/modules/api-keys/api-keys.service.ts
  apps/backend/src/modules/api-keys/dto/create-api-key.dto.ts
  apps/backend/src/modules/api-keys/dto/update-api-key.dto.ts
  apps/backend/src/modules/claude-relay/interfaces/claude-api.interface.ts
  apps/backend/src/modules/claude-relay/services/claude-channel-selector.service.ts
  apps/frontend/src/pages/admin/components/CreateApiKeyDialog.tsx
  apps/frontend/src/pages/admin/components/EditApiKeyDialog.tsx
  apps/frontend/src/pages/admin/components/ManageChannelsDialog.tsx
  apps/frontend/src/types/apiKey.ts
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write, pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

feat: 实现完整的 API 日志系统
  apps/backend/src/app.module.ts
  apps/backend/src/modules/logs/api-log.middleware.ts
  apps/backend/src/modules/logs/log-cleanup.service.ts
  apps/backend/src/modules/logs/log.controller.ts
  apps/backend/src/modules/logs/log.module.ts
  apps/backend/src/modules/logs/log.service.ts
  apps/frontend/src/pages/admin/Logs.tsx
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write, pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

refactor: 移除 API 日志中的响应体记录
  apps/backend/src/modules/logs/api-log.middleware.ts
  apps/backend/src/modules/logs/log.service.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

feat: 支持 PROVIDER 模式下指定专属渠道
  apps/backend/src/modules/api-keys/api-keys.service.ts
  apps/backend/src/modules/api-keys/dto/create-api-key.dto.ts
  apps/backend/src/modules/api-keys/dto/update-api-key.dto.ts
  apps/backend/src/modules/claude-relay/services/claude-channel-selector.service.ts
  apps/frontend/src/pages/admin/components/CreateApiKeyDialog.tsx
  apps/frontend/src/pages/admin/components/EditApiKeyDialog.tsx
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write, pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

fix: 只记录错误请求到 API 日志
  apps/backend/src/modules/logs/api-log.middleware.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

feat: 添加 API 错误日志的 request headers 记录
  apps/backend/prisma/migrations/20231202000000_add_channel_management/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/modules/logs/api-log.middleware.ts
  apps/backend/src/modules/logs/log.service.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

feat: 实现邮件通知和渠道告警系统
  apps/backend/package.json
  apps/backend/prisma/schema.prisma
  apps/backend/src/app.module.ts
  apps/backend/src/modules/claude-relay/claude-relay.module.ts
  apps/backend/src/modules/claude-relay/services/channel-auto-recovery.service.ts
  apps/backend/src/modules/claude-relay/services/claude-proxy.service.ts
  apps/backend/src/modules/notification/dto/save-alert-config.dto.ts
  apps/backend/src/modules/notification/dto/save-email-config.dto.ts
  apps/backend/src/modules/notification/dto/send-test-email.dto.ts
  apps/backend/src/modules/notification/dto/toggle-email.dto.ts
  apps/backend/src/modules/notification/notification.controller.ts
  apps/backend/src/modules/notification/notification.module.ts
  apps/backend/src/modules/notification/services/channel-alert.service.ts
  apps/backend/src/modules/notification/services/email-notification.service.ts
  apps/backend/src/modules/notification/services/system-settings.service.ts
  apps/frontend/src/components/admin/AdminLayout.tsx
  apps/frontend/src/pages/admin/AlertHistory.tsx
  apps/frontend/src/pages/admin/NotificationSettings.tsx
  apps/frontend/src/router/index.tsx
  apps/frontend/src/services/notificationApi.ts
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write, pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write, prettier --write --ignore-unknown

fix: 修复邮件通知系统的关键问题
  apps/backend/src/modules/notification/services/email-notification.service.ts
  apps/backend/src/modules/notification/services/system-settings.service.ts
  apps/frontend/src/services/notificationApi.ts
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write, pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

fix: PR #3 代码审查问题修复
  PR3-Review.md
  PR3-修复总结.md
  apps/backend/prisma/migrations/remove_channel_groups.sql
  apps/backend/src/modules/api-keys/api-keys.service.ts
  apps/backend/src/modules/api-keys/dto/create-api-key.dto.ts
  apps/backend/src/modules/api-keys/dto/update-api-key.dto.ts
  apps/backend/src/modules/claude-relay/services/claude-channel-selector.service.ts
Due: pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write, prettier --write --ignore-unknown

feat: 优化 API 日志系统性能和安全性
  apps/backend/.env.example
  apps/backend/prisma/migrations/20231202000000_add_channel_management/migration.sql
  apps/backend/prisma/schema.prisma
  apps/backend/src/modules/logs/api-log.middleware.ts
  apps/backend/src/modules/logs/log-cleanup.service.ts
  apps/backend/src/modules/logs/log.service.ts
  apps/frontend/src/pages/admin/Logs.tsx
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write, pnpm --filter @gc-code/backend exec eslint --fix, pnpm --filter @gc-code/backend exec prettier --write

fix: 修复 API 日志页面的 TypeScript 类型错误
  apps/frontend/src/pages/admin/Logs.tsx
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write

fix: 修复 TypeScript 类型错误和缺失的模块
  apps/frontend/src/pages/admin/AlertHistory.tsx
  apps/frontend/src/pages/admin/components/ManageChannelsDialog.tsx
  apps/frontend/src/services/channelGroupApi.ts
  apps/frontend/src/types/channelGroup.ts
Due: pnpm --filter @gc-code/frontend exec eslint --fix, pnpm --filter @gc-code/frontend exec prettier --write
